AI News Summarizer (1).json
{
  "name": "AI News Summarizer",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 3,
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -496,
        -208
      ],
      "id": "699bd937-cc69-435b-83e0-fbfd47f5a512",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://aibusiness.com/rss.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -272,
        -304
      ],
      "id": "a9d4945e-9f41-4446-8ebf-3b16f3b86308",
      "name": "AI NEWS FEED"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        176,
        -208
      ],
      "id": "666338fd-f782-45a2-9f16-0436717c3e49",
      "name": "Data Aggregator"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data[0] }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are an AI newsletter assistant creating a daily intelligence report from multiple categories.\nUse only the provided items. Do not invent content.\nOrganize the provided items by category and Format exactly like this:\n\nHi there,\nHere's your Tech Brief:\n\nAI NEWS HIGHLIGHTS\n======================\n[5 most important AI developments]\nFor each AI-related item, output:\nHEADLINE IN ALL CAPS\nSummary in 1–2 sentences.\nLink: <paste link>\n\nTECHNOLOGY UPDATES\n======================\n[Latest broader technology-related developments from major tech sources]\nFor each broader technology-related item, output:\nHEADLINE IN ALL CAPS\nSummary in 1–2 sentences.\nLink: <paste link>\n\nUPCOMING AI EVENTS\n======================\n[List events with date, location, description]\nIf no events found: \"No AI events scheduled this week\"\n\nFor each Event Item\nHEADLINE IN ALL CAPS\nSummary in 1–2 sentences.\nLink: <paste link>\n\nKeep the summaries professional, concise, and easy to read.\n\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        400,
        -208
      ],
      "id": "5a35d22f-f6cc-4242-b65c-4229db57141d",
      "name": "AI SUMMARIZATION MODEL"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        480,
        32
      ],
      "id": "426a4138-eea4-4831-ab16-d2942d84c032",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "UnPAy9TL6pBoNUxv",
          "name": "Google Gemini(PaLM) Api account 6639"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "praneshramanathan@gmail.com",
        "subject": "Today's AI News For You..",
        "emailType": "text",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        752,
        -208
      ],
      "id": "4947592f-041c-4166-94ba-654f0718f33b",
      "name": "Send a message",
      "webhookId": "f59e0492-ce66-464d-93a3-6b1758ed244e",
      "credentials": {
        "gmailOAuth2": {
          "id": "Mem4kK1T2rZwFMil",
          "name": "Gmail account 1844"
        }
      }
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -272,
        -112
      ],
      "id": "e1c613f0-b0d1-4afb-9821-54ae477a2358",
      "name": "Tech Updates Feed"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -48,
        -208
      ],
      "id": "2db93dd5-9d6b-43d8-8abf-b6b97c3fff5b",
      "name": "Data Merger"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google_events"
            },
            {
              "name": "q",
              "value": "AI tech Events in India"
            },
            {
              "name": "hl",
              "value": "en"
            },
            {
              "name": "gl",
              "value": "us"
            },
            {
              "name": "api_key",
              "value": "fd2b6cd63b02754f7bf9dd9f5a5d664978707c1b8e9888afcf7f95714c5c2dae"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -272,
        96
      ],
      "id": "fbe58364-9b56-4a6e-aed1-04b234ac3885",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI NEWS FEED",
            "type": "main",
            "index": 0
          },
          {
            "node": "Tech Updates Feed",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI NEWS FEED": {
      "main": [
        [
          {
            "node": "Data Merger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Aggregator": {
      "main": [
        [
          {
            "node": "AI SUMMARIZATION MODEL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI SUMMARIZATION MODEL",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI SUMMARIZATION MODEL": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Tech Updates Feed": {
      "main": [
        [
          {
            "node": "Data Merger",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Data Merger": {
      "main": [
        [
          {
            "node": "Data Aggregator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Data Merger",
            "type": "main",
            "index": 2
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cf401dab-44da-414f-85d3-f60ec76e09f5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "969257b09ad2942bbaff2e2288304f4969030574d109cdeca05bf11f630884df"
  },
  "id": "ocKV5NSGTkYARq5V",
  "tags": []
}